/* ---------------------Nav-------------------------- */
.nav-bg {
    width: 100%;
    background: #FFF;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: .4em 0;
}

#menu-switch {
    display: none;
}

.main-header {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    max-width: 1536px;
    margin: auto;
}

.logo {
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 1.5em;
}

/* .logo h1 {
    display: inline-block;
    font-size: 1em;
    margin-top: 0.15em;
} */

.main-nav .click {
    font-weight: 600;
}

.main-nav a::before {
    position: absolute;
    width: 0;
    height: 3px;
    content: '';
    background: #dfb961;
    top: 90%;
}

.main-nav a:hover::before {
    width: 50%;
    transition: .5s ease;
    background: #dfb961;
}

.bx-chevron-right::before {
    font-size: 1.5em;
    vertical-align: sub;
}


@media screen and (max-width:992px) {
    .hb {
        margin-top: 0.2em;
        width: 40px;
        height: 40px;
        /* background-color: #f00; */
        position: relative;

    }

    /* .hb span {
        width: 80%;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    } */
    .icon {
        position: relative;
        height: 50px;
        width: 50px;
        /* border: 1px solid rgba(0, 0, 0, 0.3); */
        border-radius: 6px;
        cursor: pointer;
        margin: 0 8px;
        transition: all 0.3s ease;
    }

    .icon i {
        position: absolute;
        font-size: 30px;
        left: 50%;
        top: 50%;
        color: #333;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .icon.active {
        /* background: #FF676D; */
    }

    .icon i.close {
        opacity: 0;
    }

    .icon.active i.close {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(180deg);
    }

    .icon.active i.open {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(180deg);
    }

    .main-nav {
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: #FFFFFF;
        left: 0;
        top: 100%;
        display: block;
        transform: translateX(-100%);
        transition: .5s ease-in;
    }

    .main-nav a {
        display: block;
        padding: 15px 15px 20px 30px;
        text-decoration: none;
        color: #000;
        font-size: 1.5em;
        font-weight: 500;
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
    }



    .main-nav a+a {
        margin-top: 0;
        /* border-top: 1px solid #000; */
    }

    #menu-switch:checked+.main-header .main-nav {
        transform: translateX(0%);
        transition: .5s ease-in-out;
    }

    .logo a {
        padding-left: 0.3em;
    }

}

@media screen and (min-width:768px) {
    .main-nav a {
        font-size: 1.5em;
    }
}

@media screen and (min-width:1024px) {
    .hb {
        display: none;
    }

    .main-nav a {
        display: inline-block;

    }

    .main-nav a {
        margin-top: 0.4em;
        font-size: 1.2em;
        margin-right: 2em;
    }

    .main-nav a::before {
        top: 80%;
    }

    .main-nav a:hover::before {
        width: 3em;

    }

    .logo a {
        margin-top: 0.2em;
    }

    .main-header {
        padding: .3em 0;
    }
}

/* ---------------------Nav-------------------------- */